@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  /* --background-start-rgb: 214, 219, 0; */
  /* --background-end-rgb: 255, 255, 255; */
}


@font-face {
  font-family: "Century Gothic";
  src: url("../../assets/CenturyGothic/Century Gothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Bold";
  src: url("../../assets/CenturyGothic/Century Gothic Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Italic";
  src: url("../../assets/CenturyGothic/Century\ Gothic\ Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@layer base {
  h1 {
    @apply text-primary;
    font-size : 2.5rem
  }
  *{
    @apply font-century;
    @apply text-primary;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
